
<%= link_to "Logout", destroy_user_session_path,:method => :delete, :class => 'btn btn-head' %>
<div class = "starting_text">
<div class = "left-text">
    <p>Hello</p>
    <p>What are you looking to learn ?</p>
</div>

<span></span>
<div class="col-sm-12">
    <button type="button" class="btn btn-primary">Maths</button>
    <button type="button" class="btn btn-primary">Physics</button>
    <button type="button" class="btn btn-primary">Chemistry</button>
</div>
</div>





<div id="chemistry">
	<div class='left-text'>
		<p> Awesome ! </p>
   		<p> Which topic you would be interested to start with</p>
   </div>
   <span></span>
	<div class="col-sm-12">
		<button type="button" class="btn btn-primary">Organic</button>
		<button type="button" class="btn btn-primary">Inorganic</button>
		<button type="button" class="btn btn-primary">Physical</button>
	</div>
</div>

<div id="physics">
	<div class='left-text' class="row">
   		<p> Check out the Introductory video</p>
   		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/JGXi_9A__Vc" frameborder="0" allowfullscreen></iframe></p>
    	<p> Learn Further Topics </p>
    </div>
    <span></span>
	<div class="col-sm-12">
		<button type="button" class="btn btn-primary">Gravity</button>
		<button type="button" class="btn btn-primary">Electricity</button>
		<button type="button" class="btn btn-primary">Lenses</button>
	</div>

</div>

<div id="gravity">
	<div class='left-text'>
   		<p> Check out the Introductory video</p>
   		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/JGXi_9A__Vc" frameborder="0" allowfullscreen></iframe></p>
   		<p><img src="http://www.freeimageslive.com/galleries/workplace/education/pics/maths_school.jpg" height="200" width="300"></img></p>
    	<p> Learn Further Topics </p>
    </div>
    <span></span>
	<div class="col-sm-12">
		<button type="button" class="btn btn-primary">Gr</button>
		<button type="button" class="btn btn-primary">Elec</button>
		<button type="button" class="btn btn-primary">Ls</button>
	</div>
</div>

<div id="maths">
	<div class='left-text'>
		<p> Awesome ! </p>
    	<p> <img src="http://www.freeimageslive.com/galleries/workplace/education/pics/maths_school.jpg" height="200" width="300"></img></p>
    	<p> Learn Further</p>
   </div>
    <span></span>
	<div class="col-sm-12">
		<button type="button" class="btn btn-primary">Algebra</button>
		<button type="button" class="btn btn-primary">Trignometry</button>
		<button type="button" class="btn btn-primary">Calculus</button>
	</div>
</div>




<!-- 
<div class = "left-text" id="chemistry">
   <p> Awesome ! </p>
   <p> Which topic you would be interested to start with</p>

	<div class="col-sm-12">
		<button type="button" class="btn btn-primary">Organic</button>
		<button type="button" class="btn btn-primary">Inorganic</button>
		<button type="button" class="btn btn-primary">Physical</button>
	</div>



</div> -->






<!--
<div cla




